@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F4F4F4;
    font-family: Montserrat, serif;
    font-size: 18px;
}

.main {
    width: 1100px;
}

html {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #bababa;
}
